*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    font-size: 0.6em;
}

body{
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    color: #444444;
    max-width: 1920px; 
    margin: 20px  auto;
    width: fit-content;
    background-image: url('https://i.pinimg.com/originals/d3/39/5e/d3395ed9226a8a74c22891f4b2fe688f.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
}

h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    color: #222222;
}

h1{
    font-size: 2.5rem;
    text-align: center;
}
h2{
    font-size: 2.15rem;
    text-align: center;
}
h3{
    font-size: 1.75rem;
    text-align: center;
}
h4{
    font-size: 1.5rem;
    text-align: center;
}
h5{
    font-size: 1.25rem;
    text-align: center;
}
h6{
    font-size: 1rem;
    text-align: center;
}

a{
    color: rgb(93, 176, 253);
    text-decoration: none;
    &:hover, :focus{
        color: rgb(41, 150, 252);
    }
}
